.cardDark {
    display: flex;
    flex-direction: column;
    color: white;
    width: 30vw;
    padding: 2rem;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(60, 60, 60);
    transition: 1s;
}

.cardLight {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 2rem;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 15px 15px 30px rgb(102, 102, 102),
    -15px -15px 30px rgb(158, 158, 158);
    transition: 1s;
}

.icon {
    animation: animate 8s infinite;
}

@keyframes animate {
    0% {
        transform: translate(0, 0px);
    }

    25% {
        transform: translate(0, 30px);
    }

    50% {
        transform: translate(0, -20px);
    }

    75% {
        transform: translate(0, 30px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@media only screen and (width<500px) {

    .cardDark,
    .cardLight {
        width: 80vw;
    }
}
@media only screen and (width<900px) {

    .cardDark,
    .cardLight {
        width: 60vw;
    }
}